{{ define "main" }}
<header>
    <h1 class="site-title"><a href="/">{{ .Site.Title }}</a></h1>
    <hr class="rule">
</header>

<main>
    <ul class="posts-list">
        {{ $posts := where .Site.RegularPages "Type" "posts" }}
        {{ $total := len $posts }}
        {{ $show := $posts.ByDate.Reverse }}
        {{ $limit := 0 }}
        {{ if eq .Section "posts" }}
            {{/* V (posts) page: show all posts */}}
        {{ else }}
            {{ $limit = default 11 .Site.Params.postsLimit }}
            {{ if gt $total $limit }}
                {{ $show = first $limit $show }}
            {{ end }}
        {{ end }}
        {{ range $index, $post := $show }}
        <li>
            <span class="post-number">{{ sub $total $index }}.</span>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
        {{ if ne .Section "posts" }}
        <li>
            <span class="post-number"></span>
            <a href="/posts/">v</a>
        </li>
        {{ end }}
    </ul>
    {{ if ne .Section "posts" }}
    {{ $posts := where .Site.RegularPages "Type" "posts" }}
    {{ $total := len $posts }}
    {{ $limit := default 11 .Site.Params.postsLimit }}
    {{ if gt $total $limit }}
    <p class="more-to-release">{{ default "More to release the rest." .Site.Params.moreToReleaseText }}</p>
    {{ end }}
    {{ end }}
</main>

<footer class="site-footer">
    <a href="/about/">Info</a>
</footer>
{{ end }}
